UserApp/packages/**
UserApp/UserApp_resources/Debug/**
UserApp/UserApp_resources/Release/**
UserApp/Debug/**
UserApp/Release/**
*.opensdf
**/*.sdf
**/*.suo
*.vcxproj.user
ObjDrop
BuildDrop
/packages/
/.vs/
/UserApp_resources/x64/Debug
/UserApp2019i/x64/Debug/
/UserApp2021/x64/Debug/
tsep-*.log
*.tsep
